h1 
{
    background-color: red;
    font-weight: bolder;
}

p
{
    font-family: sans-serif;
}

.note 
{
    font-size: 20px;
}

#id-selector-demo
{
    color: green;
}
*
{
    color: white;
    background-color: black;
}
img
{
    width: 100%;
    border: 20px;
}

